@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", Tahoma;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  background-color: #1f2937;
  color: white;
  max-width: 1000px;
  margin: 0 auto;
}

.header-wrapper {
  background-color: #1f2937;
}

.logo {
  font-size: 24px;

}

header ul {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 20px;
}

header a {
  color: #e5e7eb;
  text-decoration: none;
  font-size: 18px;
}

img {
  width: 300px;
  border-radius: 10px;
}

.hero {
  background-color: #1f2937;
  display: flex;
  padding: 50px;
  justify-content: center;
}

.title {
  width: 400px;
  margin-right: 70px;
  padding: 5px;
  align-self: center;
}

h1 {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
}

h2 {
  text-align: center;
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
  margin-bottom: 20px;
}

.title p {
  color: #e5e7eb;
  font-size: 18px;
  padding: 10px 0;
}

button {
  background-color: #3882f6;
  border: 0;
  padding: 10px 30px;
  border-radius: 10px;
  color: white;
  font-size: 1.1rem;
}

.information {
  padding: 30px 0;
}

article div {
  height: 200px;
  width: 200px;
  border-radius: 10px;
  border: 5px solid #3882f6;
  margin-bottom: 10px;
}

.boxes {
  padding: 0 20px;
  display: flex;
  text-align: center;
  gap: 30px;
  justify-content: center;
  flex-wrap: wrap;
}

.boxes p {
  max-width: 200px;
}

blockquote {
  font-size: 36px;
  font-weight: 300;
  font-style: italic;
}

.quote-wrapper {
  background-color: #e5e7eb;
}

.quote {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  margin: 0 auto;
  background-color: #e5e7eb;
  padding: 70px;
}

.quote p {
  font-weight: bold;
  font-size: 18px;
  align-self: flex-end;
}

.call-to-action {
  background-color: #3882f6;
  margin: 40px auto;
  max-width: 1000px;
  border-radius: 10px;
  padding: 50px 100px;
  color: white;
  display: flex;
  justify-content: space-between;
}

.call-to-action button {
  border: 2px solid white;
}

footer {
  background-color: #1f2937;
  color: white;
  padding: 30px 0;
  text-align: center;
}