@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", Tahoma;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #1f2937;
  color: white;
}

.logo {
  font-size: 24px;

}

header ul {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 20px;
}

header a {
  color: #e5e7eb;
  text-decoration: none;
  font-size: 18px;
}

img {
  width: 300px;
}

.hero {
  background-color: #1f2937;
}

